@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: 100vh;
  overflow: hidden;
  scrollbar-width: none;

  /* Primary brand color */
  --color-primary: #7c3aed;
  --color-primary-hover: #6d28d9;

  /* Secondary/supporting color */
  --color-secondary: #38bdf8;
  --color-secondary-hover: #2aafeb;

  /* Accent color for small highlights */
  --color-accent: #f472b6;

  /* Semantic colors */
  --color-success: #22c55e;
  --color-error: #ef4444;

  /* Neutral colors */
  --color-bg: #f9fafb;
  --color-bg-hover: #d9dadb;
  --color-text: #111827;
  --color-text-light: white;
}

@layer base {
  body {
    @apply font-sans;

    height: 100vh;
  }

  #stories-list {
    transition: width 300ms ease;
  }

  #story-details {
    animation: fade-in 0.5s, slide-up 0.3s;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition;
  }

  .btn-primary {
    @apply text-white bg-[var(--color-primary)] hover:bg-[var(--color-primary-hover)] border-[var(--color-primary-hover)] hover:border-[var(--color-primary-hover)];
  }

  .btn-secondary {
    @apply text-[var(--color-text)] bg-[var(--color-bg)] hover:bg-[var(--color-bg-hover)] border-[var(--color-bg-hover)] hover:border-[var(--color-bg-hover)];
  }

  .modal-box,
  .input,
  .select {
    @apply bg-[var(--color-bg)];
  }

  .btn-radio {
    @apply btn-secondary;
  }

  .btn-radio:is(input[type="radio"]:checked) {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    border-color: var(--color-primary-hover);
  }

  .btn-radio:is(input[type="radio"]:checked):hover {
    background-color: var(--color-primary-hover);
    color: var(--color-text-light);
    border-color: var(--color-primary-hover);
  }

  .avatar.online:before {
    background-color: var(--color-success);
    outline-width: 1px;
  }
}

@layer utilities {
  .scrollbar-visible::-webkit-scrollbar {
    width: 8px; /* Adjust width */
  }

  .scrollbar-visible::-webkit-scrollbar-thumb {
    background: gray; /* Scrollbar color */
    border-radius: 4px;
  }

  .scrollbar-visible::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
  }
}
